REPO_STORAGE_PATH=repos
MISTRALAI_API_KEY="Enter your mistral api key"

GITHUB_CLIENT_ID=Enter your github client id
GITHUB_CLIENT_SECRET=Enter your Github client secret
GITHUB_REDIRECT_URI=http://localhost:8501
